# Compiler files
cache/
out/
optimized-out/

# Ignores development broadcast logs
!broadcast/BrrUSD.s.sol/
broadcast/BrrUSD.s.sol/dry-run
broadcast/BrrUSD.s.sol/8453/*
!broadcast/BrrUSD.s.sol/8453/run-latest.json
!broadcast/BrrUSDRedeemHelper.s.sol/
broadcast/BrrUSDRedeemHelper.s.sol/dry-run
broadcast/BrrUSDRedeemHelper.s.sol/8453/*
!broadcast/BrrUSDRedeemHelper.s.sol/8453/run-latest.json

# Dotenv file
.env

scripts/loadEnv.sh
